.bgimage {
  background-image: url('../assets/image/bgimage.png');
}

.bgimage2 {
  background-image: url('../assets/image/bgimage2.png');
}

.bgimage3 {
  background-image: url('../assets/image/bgimage3.png');
}

.bgimage4 {
  background-image: url('../assets/image/bgimage4.png');
}

.bgimage5 {
  background-image: url('../assets/image/bgimage5.png');
}
