.bgimage {
  background-image: url('../assets/image/bgimage.png');
}

.bgimage2 {
  background-image: url('../assets/image/bgimage2.png');
}

.bgimage3 {
  background-image: url('../assets/image/bgimage3.png');
}
