
.main-footer {
    color: white;
    background-color: #37432b;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;

  }

  #url-link{
    display: flex;
    flex-direction: row;
  }

  .list-unstyled{
    letter-spacing: 2px;
  }

  .icon{
    margin-left: 20px;
  }

  .fa-brands{
    color: white;
    transition: 0.3s;
  }

  .fa-brands:hover{
    color: #cdc772;
  }

  .footer-link{
    text-decoration: none;
    color: #cdc772;
    transition: 0.3s;
  }

  .footer-link:hover {
    color: #c4b922;
  }

  .col-sm{
    letter-spacing: 2.5px;
  }

  h4{
    letter-spacing: 3px;
  }