@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.Login-form{
        height: 400px;
    }

.head{
    margin-top: 70px;
    margin-left: 70px;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        margin-left: 70px;
    }




